<h1>Let the Battle commence!</h1>
<h2>Enter the player names to get started</h2>
<form action="/names" method="post">
  <label for="player_one">Player One:</label><br>
  <input name="player_one" type="text"><br>
  <label for="player_two">Player One:</label><br>
  <input name="player_two" type="text"><br>
  <input type="submit" value="Submit">
</form>
