<div>
  <h1> <%= @player_one_name %> vs <%= @player_two_name %> </h1>
  <h2> <%=@player_two_name%>: <%=@player_two_hp%> XP</h2>
  <form action="/attack">
    <input type="submit" value="Attack">
  </form>
</div
