<div>
  <h1> <%= @player_one.name %> vs <%= @player_two.name %> </h1>
  <h2> <%=@player_two.name%>: <%=@player_two.hit_points%> XP</h2>
  <form action="/attack">
    <input type="submit" value="Attack">
  </form>
</div
